* { cursor: none !important }*
 
#header {
	margin: 0;
	padding: 0;
	height: 170px;
	background-image: url(/img/header_bg.png);
	background-repeat: no-repeat;
	position: relative;
	width: 1200px;
}
#desc {
  

}
::-webkit-scrollbar {

    width: 40px;
    height: 40px;
}
 
/*полоска*/ 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: #AAAAAA;
}
 
/*скролл*/
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    max-height: 40px;
    background-color: #333333;
    /*background-image: url(/img/1.png);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}
/*::-webkit-scrollbar-button:vertical {
    background-color: rgba(0,0,0,0.5);
    border: 1px dashed blue;
}*/
 body {
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: #F7F7F4;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 1200px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 30px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

.menu {
  font-size: 200%;
  margin: 30px 0px;
}
.tab-content {
  margin-left: 230px;
  padding: 0px 10px 0px 5px;
  overflow: auto;
  height: 550px;
}
.blue {
	background-color: #92bbcf;
}
.grey {
	background-color: #d1c9a5;
}
.yellow {
	background-color: #dbe1a6;
}
.green {
	background-color: #c3e2b2;
}
.transparent {
  display: none;
}
.banner {
	height: 110px;
	padding: 5px 5px 5px 5px;
}
.bossbanner {
  padding: 15px 15px 15px 15px;
  margin: 15px 15px 15px 15px;
}
.emptybanner {
  height: 110px;
  padding: 5px 5px 5px 5px;
}
.bigbossbanner {
  height: 110px;
  padding: 5px 5px 5px 5px;
}
.staffbanner {
  margin: 5px 0px 5px 0px;
  padding: 5px 5px 5px 5px;
  min-height: 110px;
}

.shadow {
  -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); 
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.cursor {
	cursor: pointer;
}